<!DOCTYPE html>
<html>
<head>

</head>

<body>


<p id="notice"><%= notice %></p>

<div>
  <% if @users.present? %>
      <% @users.as_json.each do |user, info| %>
          <span><%= "#{user}:#{info}" %></span>
      <% end %>

      <%= link_to 'Edit', edit_user_path(@users) %> |
  <% else %>
      <span>User NOT Found</span>
  <% end %>
</div>

<%= link_to 'Back', users_path %>


</body>
</html>

